<!doctype html>
<title>Comparison of the probability distributions of a selected feature</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style_xplor.css')}}'>
<div class=page>
  <h1>Results (Feature Comparison)</h1>
  <div class=metanav>

<h4>
<p align="left">
In the new browser tab we show a comparison (using histograms) of the probability distributions corresponding to the selected feature on two different conditions created from combinations of NY Boroughs and time in years.
</p>
</h4>
<form action='index'>
    <input type="submit" value="Back to main page">
</form>

</div>

