<!doctype html>
<title>Trends of selected features in NY</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style_xplor.css')}}'>
<div class=page>
  <h1>Results (Trend analysis)</h1>
  <div class=metanav>

<h4>
<p align="left">
In the new browser tab we show the analysis of a trend (using a boxplot) follow by a selected feature on a NY borough.
</p>
</h4>
<table style="width:100%">
  <tr>
        <td>
                <form action='index'>
                        <input type="submit" value="Back to main page">
                </form>

        </td>
        <td>
                <form action='results' target="_blank">
                        <input type="submit" value="See figure">
                </form>
        </td>
</table>
</div>

